
.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.calculator-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-field label {
  font-size: 20px;
  margin-right: 20px;
}

.form-field input {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.btn {
  font-size: 20px;
  padding: 10px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.result-field {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.result {
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}